.App {
  width: 50%;
  margin: 50px auto;
  background-color: white;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: 1px solid black;
}

main{
  padding: 2em;
  border-bottom: 1px solid black;
}

footer{
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
