/* vietnamese */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isQFJXGdg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isRFJXGdg.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'VT323';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  color: #111111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  font-family: 'VT323';
}

input {
  font-size: 20px;
}

button {
  border: none;
  margin: 1em;
  font-size: inherit;
}


/* PIXEL HEART */

.answer__input {
  padding-bottom: 5px;
  outline: none;
  border: none;
  border-bottom: #111111 solid 2px;
  background: transparent;

}

/* PIXEL HEART */

.lifepoint__container {
  width: 7em;
  height: 6em;
  position: relative;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.lifepoint__container--shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.lifepoint__heart {
  display: block;
  width: 1em;
  height: 1em;
  box-shadow:
    1em 0em #F22613,
    2em 0em #F22613,
    4em 0em #F22613,
    5em 0em #F22613,

    0em 1em #F22613,
    1em 1em #F22613,
    2em 1em #F22613,
    3em 1em #F22613,
    4em 1em #F22613,
    5em 1em #F22613,
    6em 1em #F22613,

    0em 2em #F22613,
    1em 2em #F22613,
    2em 2em #F22613,
    3em 2em #F22613,
    4em 2em #F22613,
    5em 2em #F22613,
    6em 2em #F22613,

    1em 3em #F22613,
    2em 3em #F22613,
    3em 3em #F22613,
    4em 3em #F22613,
    5em 3em #F22613,

    2em 4em #F22613,
    3em 4em #F22613,
    4em 4em #F22613,

    3em 5em #F22613;
}

.lifepoint__number {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 44px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* BUTTON */

.button {
  height: auto;
  padding-inline: 16px;
  margin-inline: 15px;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: #111111;
  color: white;
  font-family: 'VT323';
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 42px;



  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


/* INPUT RADIO */

.input__radio-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.input__radio {
  position: relative;
  cursor: pointer;
}

.input__radio-container.levelSelected .input__radio:not(.selected) .input__radio-inner {
  opacity: .25;
}

.input__radio.selected .input__radio-inner {
  background-color: black;
  color: white;
}

.input__radio .input__radio-inner {
  width: 140px;
  height: 127px;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  border: 3px solid black;
}

.input__radio .input__radio-inner .name {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 2px;
}

.input__radio .input__radio-inner .desc {
  font-size: 16px;
  line-height: 20px;
}



.input__radio input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}


/* SKULL */

.skull__container {
  height: 90px;
  width: 89px;
}

.skull {
  height: 10px;
  width: 10px;
  box-shadow:
    20px 0px 0 0 #111111,
    30px 0px 0 0 #111111,
    40px 0px 0 0 #111111,
    50px 0px 0 0 #111111,
    60px 0px 0 0 #111111,

    10px 10px 0 0 #111111,
    20px 10px 0 0 #111111,
    30px 10px 0 0 #111111,
    40px 10px 0 0 #111111,
    50px 10px 0 0 #111111,
    60px 10px 0 0 #111111,
    70px 10px 0 0 #111111,

    0 20px 0 0 #111111,
    10px 20px 0 0 #111111,
    20px 20px 0 0 #111111,
    30px 20px 0 0 #111111,
    40px 20px 0 0 #111111,
    50px 20px 0 0 #111111,
    60px 20px 0 0 #111111,
    70px 20px 0 0 #111111,
    80px 20px 0 0 #111111,

    0 30px 0 0 #111111,
    30px 30px 0 0 #111111,
    40px 30px 0 0 #111111,
    50px 30px 0 0 #111111,
    80px 30px 0 0 #111111,

    0 40px 0 0 #111111,
    30px 40px 0 0 #111111,
    40px 40px 0 0 #111111,
    50px 40px 0 0 #111111,
    80px 40px 0 0 #111111,

    0 50px 0 0 #111111,
    10px 50px 0 0 #111111,
    20px 50px 0 0 #111111,
    30px 50px 0 0 #111111,
    50px 50px 0 0 #111111,
    60px 50px 0 0 #111111,
    70px 50px 0 0 #111111,
    80px 50px 0 0 #111111,

    10px 60px 0 0 #111111,
    20px 60px 0 0 #111111,
    30px 60px 0 0 #111111,
    40px 60px 0 0 #111111,
    50px 60px 0 0 #111111,
    60px 60px 0 0 #111111,
    70px 60px 0 0 #111111,

    20px 70px 0 0 #111111,
    30px 70px 0 0 #111111,
    40px 70px 0 0 #111111,
    50px 70px 0 0 #111111,
    60px 70px 0 0 #111111,

    20px 80px 0 0 #111111,
    40px 80px 0 0 #111111,
    60px 80px 0 0 #111111;
}

/* CARD */
.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
  cursor: pointer;
}

.flip-card:disabled {
  filter: grayscale(1);
  cursor: not-allowed;
  opacity: .35;
}

.flip-card .character-container {
  height: 150px;
  position: relative;
}

.flip-card .character {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 25px;
  transform: scale(5);
  background: transparent;
}

.flip-card .character--bardeid {
  box-shadow: 11px 0px rgb(86 88 91), 12px 0px rgb(43 42 42), 13px 0px rgb(55 55 54), 14px 0px rgb(48 49 51), 15px 0px rgb(66 67 66), 10px 1px rgb(101 99 97), 11px 1px rgb(132 86 41), 12px 1px rgb(140 86 30), 13px 1px rgb(130 77 23), 14px 1px rgb(144 96 49), 15px 1px rgb(175 146 119), 16px 1px rgb(107 105 102), 17px 1px rgb(81 85 86), 10px 2px rgb(144 143 141), 11px 2px rgb(123 86 55), 12px 2px rgb(171 100 31), 13px 2px rgb(216 141 65), 14px 2px rgb(244 188 131), 15px 2px rgb(252 214 171), 16px 2px rgb(153 126 102), 17px 2px rgb(130 107 85), 18px 2px rgb(131 121 108), 11px 3px rgb(52 58 65), 12px 3px rgb(91 54 19), 13px 3px rgb(170 124 78), 14px 3px rgb(195 164 137), 15px 3px rgb(197 163 131), 16px 3px rgb(247 213 171), 17px 3px rgb(255 231 184), 18px 3px rgb(176 144 115), 19px 3px rgb(105 98 92), 10px 4px rgb(45 44 45), 11px 4px rgb(39 41 40), 12px 4px rgb(50 51 51), 13px 4px rgb(53 51 51), 14px 4px rgb(49 49 48), 15px 4px rgb(66 62 60), 16px 4px rgb(209 175 141), 17px 4px rgb(249 205 163), 18px 4px rgb(255 216 175), 19px 4px rgb(195 160 130), 20px 4px rgb(79 75 70), 1px 5px rgb(110 111 110), 2px 5px rgb(39 39 39), 3px 5px rgb(45 44 45), 4px 5px rgb(79 79 79), 9px 5px rgb(46 46 45), 10px 5px rgb(38 41 40), 11px 5px rgb(96 117 128), 12px 5px rgb(160 169 175), 13px 5px rgb(182 183 183), 14px 5px rgb(183 184 184), 15px 5px rgb(173 173 173), 16px 5px rgb(74 71 66), 17px 5px rgb(194 163 130), 18px 5px rgb(255 216 175), 19px 5px rgb(249 204 163), 20px 5px rgb(209 175 141), 21px 5px rgb(80 76 72), 0px 6px rgb(108 108 108), 1px 6px rgb(86 101 107), 2px 6px rgb(86 107 119), 3px 6px rgb(87 105 119), 4px 6px rgb(89 104 115), 5px 6px rgb(92 94 95), 8px 6px rgb(91 97 100), 9px 6px rgb(95 113 124), 10px 6px rgb(103 121 130), 11px 6px rgb(168 178 183), 12px 6px rgb(204 205 206), 13px 6px rgb(207 206 205), 14px 6px rgb(213 212 212), 15px 6px rgb(230 230 230), 16px 6px rgb(187 189 188), 17px 6px rgb(111 102 94), 18px 6px rgb(173 143 115), 19px 6px rgb(254 229 180), 20px 6px rgb(229 189 150), 21px 6px rgb(45 41 38), 0px 7px rgb(36 36 37), 1px 7px rgb(91 108 120), 2px 7px rgb(154 175 186), 3px 7px rgb(159 175 185), 4px 7px rgb(111 134 148), 5px 7px rgb(23 24 26), 7px 7px rgb(128 126 126), 8px 7px rgb(46 54 63), 9px 7px rgb(135 160 178), 10px 7px rgb(128 152 170), 11px 7px rgb(160 175 183), 12px 7px rgb(165 176 182), 13px 7px rgb(179 185 188), 14px 7px rgb(215 214 213), 15px 7px rgb(245 245 244), 16px 7px rgb(255 254 254), 17px 7px rgb(151 154 156), 18px 7px rgb(117 107 98), 19px 7px rgb(188 156 126), 20px 7px rgb(238 197 157), 21px 7px rgb(155 130 106), 22px 7px rgb(140 135 131), 0px 8px rgb(49 49 49), 1px 8px rgb(86 107 119), 2px 8px rgb(156 173 180), 3px 8px rgb(162 174 180), 4px 8px rgb(106 128 143), 5px 8px rgb(33 36 37), 6px 8px rgb(156 156 155), 7px 8px rgb(120 125 126), 8px 8px rgb(77 90 98), 9px 8px rgb(126 151 169), 10px 8px rgb(122 146 162), 11px 8px rgb(120 147 162), 12px 8px rgb(119 144 160), 13px 8px rgb(142 161 175), 14px 8px rgb(194 199 203), 15px 8px rgb(228 230 231), 16px 8px rgb(228 228 229), 17px 8px rgb(228 226 227), 18px 8px rgb(111 115 117), 19px 8px rgb(85 71 61), 20px 8px rgb(255 216 173), 21px 8px rgb(254 216 173), 22px 8px rgb(77 63 50), 0px 9px rgb(46 44 44), 1px 9px rgb(91 106 121), 2px 9px rgb(132 156 174), 3px 9px rgb(131 153 169), 4px 9px rgb(110 130 144), 5px 9px rgb(31 33 35), 6px 9px rgb(26 24 23), 7px 9px rgb(86 103 111), 8px 9px rgb(128 153 171), 9px 9px rgb(124 147 163), 10px 9px rgb(125 149 164), 11px 9px rgb(125 148 164), 12px 9px rgb(127 150 164), 13px 9px rgb(122 147 163), 14px 9px rgb(145 163 175), 15px 9px rgb(200 201 200), 16px 9px rgb(201 200 200), 17px 9px rgb(210 208 208), 18px 9px rgb(112 114 117), 19px 9px rgb(86 74 62), 20px 9px rgb(239 199 159), 21px 9px rgb(248 206 165), 22px 9px rgb(82 70 60), 0px 10px rgb(46 46 45), 1px 10px rgb(86 107 119), 2px 10px rgb(163 176 184), 3px 10px rgb(169 179 184), 4px 10px rgb(109 130 145), 5px 10px rgb(31 33 35), 6px 10px rgb(24 23 21), 7px 10px rgb(86 103 111), 8px 10px rgb(128 155 172), 9px 10px rgb(125 148 164), 10px 10px rgb(125 148 164), 11px 10px rgb(125 148 164), 12px 10px rgb(126 150 167), 13px 10px rgb(123 149 164), 14px 10px rgb(145 163 176), 15px 10px rgb(200 201 200), 16px 10px rgb(201 200 201), 17px 10px rgb(208 208 209), 18px 10px rgb(122 122 122), 19px 10px rgb(27 27 24), 20px 10px rgb(92 81 68), 21px 10px rgb(239 199 159), 22px 10px rgb(84 72 61), 0px 11px rgb(49 49 49), 1px 11px rgb(91 107 118), 2px 11px rgb(138 160 174), 3px 11px rgb(138 158 172), 4px 11px rgb(108 131 144), 5px 11px rgb(33 35 36), 6px 11px rgb(24 23 21), 7px 11px rgb(90 107 117), 8px 11px rgb(105 122 136), 9px 11px rgb(55 60 65), 10px 11px rgb(61 68 74), 11px 11px rgb(61 68 74), 12px 11px rgb(61 67 71), 13px 11px rgb(51 56 63), 14px 11px rgb(93 99 100), 15px 11px rgb(199 198 199), 16px 11px rgb(200 201 200), 17px 11px rgb(207 207 207), 18px 11px rgb(122 122 123), 19px 11px rgb(17 17 18), 20px 11px rgb(27 27 24), 21px 11px rgb(86 74 62), 22px 11px rgb(162 159 154), 0px 12px rgb(36 34 34), 1px 12px rgb(89 106 120), 2px 12px rgb(150 170 182), 3px 12px rgb(153 169 178), 4px 12px rgb(111 134 148), 5px 12px rgb(18 20 24), 6px 12px rgb(21 18 17), 7px 12px rgb(90 105 114), 8px 12px rgb(110 133 146), 9px 12px rgb(62 70 77), 10px 12px rgb(32 31 31), 11px 12px rgb(26 25 25), 12px 12px rgb(61 67 70), 13px 12px rgb(71 82 90), 14px 12px rgb(104 114 118), 15px 12px rgb(199 199 198), 16px 12px rgb(200 201 198), 17px 12px rgb(215 215 215), 18px 12px rgb(122 122 123), 19px 12px rgb(56 57 57), 20px 12px rgb(139 138 138), 21px 12px rgb(133 134 134), 0px 13px rgb(105 105 104), 1px 13px rgb(91 103 110), 2px 13px rgb(135 148 157), 3px 13px rgb(144 156 163), 4px 13px rgb(96 112 123), 5px 13px rgb(92 95 95), 6px 13px rgb(40 41 40), 7px 13px rgb(82 99 108), 8px 13px rgb(134 162 181), 9px 13px rgb(110 133 146), 10px 13px rgb(39 41 42), 11px 13px rgb(30 29 29), 12px 13px rgb(96 115 125), 13px 13px rgb(130 159 178), 14px 13px rgb(147 165 178), 15px 13px rgb(200 201 200), 16px 13px rgb(205 204 202), 17px 13px rgb(177 179 180), 18px 13px rgb(82 83 85), 19px 13px rgb(97 97 98), 1px 14px rgb(98 98 96), 2px 14px rgb(46 61 65), 3px 14px rgb(62 79 85), 4px 14px rgb(63 62 63), 6px 14px rgb(92 84 79), 7px 14px rgb(78 87 92), 8px 14px rgb(127 151 169), 9px 14px rgb(107 127 139), 10px 14px rgb(36 41 40), 11px 14px rgb(28 29 26), 12px 14px rgb(93 109 118), 13px 14px rgb(125 150 169), 14px 14px rgb(141 158 173), 15px 14px rgb(199 199 198), 16px 14px rgb(189 188 188), 17px 14px rgb(95 88 85), 18px 14px rgb(34 24 17), 19px 14px rgb(105 98 94), 1px 15px rgb(96 99 102), 2px 15px rgb(77 43 4), 3px 15px rgb(109 65 15), 4px 15px rgb(35 36 37), 5px 15px rgb(57 56 59), 6px 15px rgb(148 96 43), 7px 15px rgb(97 67 34), 8px 15px rgb(68 87 99), 9px 15px rgb(114 134 147), 10px 15px rgb(36 38 40), 11px 15px rgb(28 29 26), 12px 15px rgb(93 109 118), 13px 15px rgb(123 149 168), 14px 15px rgb(145 162 175), 15px 15px rgb(190 192 191), 16px 15px rgb(75 75 77), 17px 15px rgb(128 82 36), 18px 15px rgb(179 107 34), 19px 15px rgb(131 84 36), 20px 15px rgb(83 83 84), 1px 16px rgb(95 98 102), 2px 16px rgb(81 39 1), 3px 16px rgb(105 55 2), 4px 16px rgb(36 34 33), 5px 16px rgb(133 81 28), 6px 16px rgb(96 64 33), 7px 16px rgb(122 77 30), 8px 16px rgb(116 80 45), 9px 16px rgb(45 52 60), 10px 16px rgb(37 37 36), 11px 16px rgb(33 32 30), 12px 16px rgb(96 113 125), 13px 16px rgb(136 162 180), 14px 16px rgb(115 133 150), 15px 16px rgb(81 76 85), 16px 16px rgb(131 82 36), 17px 16px rgb(172 103 32), 18px 16px rgb(214 129 43), 19px 16px rgb(224 136 44), 20px 16px rgb(173 111 48), 21px 16px rgb(102 99 97), 1px 17px rgb(92 96 101), 2px 17px rgb(106 61 13), 3px 17px rgb(185 108 30), 4px 17px rgb(134 86 41), 5px 17px rgb(123 76 32), 6px 17px rgb(44 38 32), 7px 17px rgb(75 50 25), 8px 17px rgb(132 101 70), 9px 17px rgb(110 112 115), 10px 17px rgb(26 26 27), 11px 17px rgb(19 19 19), 12px 17px rgb(55 62 66), 13px 17px rgb(72 86 105), 14px 17px rgb(86 104 80), 15px 17px rgb(136 140 7), 16px 17px rgb(183 114 33), 17px 17px rgb(183 104 37), 18px 17px rgb(216 131 43), 19px 17px rgb(255 160 55), 20px 17px rgb(238 147 51), 21px 17px rgb(116 73 30), 22px 17px rgb(128 121 114), 1px 18px rgb(91 95 100), 2px 18px rgb(140 87 32), 3px 18px rgb(255 171 59), 4px 18px rgb(225 143 54), 5px 18px rgb(56 57 57), 6px 18px rgb(33 36 40), 7px 18px rgb(21 28 33), 8px 18px rgb(123 130 136), 9px 18px rgb(233 232 232), 10px 18px rgb(100 100 100), 11px 18px rgb(93 91 90), 12px 18px rgb(92 95 93), 13px 18px rgb(77 64 62), 14px 18px rgb(103 88 17), 15px 18px rgb(189 199 3), 16px 18px rgb(197 159 18), 17px 18px rgb(184 118 30), 18px 18px rgb(217 130 43), 19px 18px rgb(255 155 53), 20px 18px rgb(242 146 50), 21px 18px rgb(198 120 41), 22px 18px rgb(55 35 14), 23px 18px rgb(142 146 148), 1px 19px rgb(92 96 100), 2px 19px rgb(125 77 28), 3px 19px rgb(245 149 52), 4px 19px rgb(204 133 59), 5px 19px rgb(80 93 99), 6px 19px rgb(38 44 51), 7px 19px rgb(43 57 64), 8px 19px rgb(124 141 153), 9px 19px rgb(233 235 234), 10px 19px rgb(238 239 238), 11px 19px rgb(241 241 239), 12px 19px rgb(244 247 251), 13px 19px rgb(220 190 160), 14px 19px rgb(135 82 34), 15px 19px rgb(57 58 38), 16px 19px rgb(208 229 1), 17px 19px rgb(203 158 19), 18px 19px rgb(210 121 44), 19px 19px rgb(253 155 52), 20px 19px rgb(243 146 50), 21px 19px rgb(189 114 39), 22px 19px rgb(63 44 25), 23px 19px rgb(151 153 155), 1px 20px rgb(101 101 101), 2px 20px rgb(35 26 21), 3px 20px rgb(64 53 37), 4px 20px rgb(56 46 34), 5px 20px rgb(36 38 41), 6px 20px rgb(30 33 33), 7px 20px rgb(33 32 35), 8px 20px rgb(51 63 70), 9px 20px rgb(120 140 152), 10px 20px rgb(234 234 234), 11px 20px rgb(240 240 240), 12px 20px rgb(250 251 248), 13px 20px rgb(178 184 184), 14px 20px rgb(66 83 99), 15px 20px rgb(79 100 97), 16px 20px rgb(215 235 4), 17px 20px rgb(205 159 18), 18px 20px rgb(182 103 36), 19px 20px rgb(212 128 42), 20px 20px rgb(244 148 51), 21px 20px rgb(191 114 39), 22px 20px rgb(63 42 25), 23px 20px rgb(148 150 152), 1px 21px rgb(98 100 104), 2px 21px rgb(62 35 4), 3px 21px rgb(81 47 7), 4px 21px rgb(51 54 58), 7px 21px rgb(98 98 96), 8px 21px rgb(18 30 36), 9px 21px rgb(83 107 121), 10px 21px rgb(239 241 242), 11px 21px rgb(255 254 254), 12px 21px rgb(154 169 174), 13px 21px rgb(65 93 107), 14px 21px rgb(36 71 92), 15px 21px rgb(49 76 84), 16px 21px rgb(87 97 31), 17px 21px rgb(185 183 4), 18px 21px rgb(204 167 17), 19px 21px rgb(187 106 36), 20px 21px rgb(203 122 41), 21px 21px rgb(186 110 36), 22px 21px rgb(56 40 23), 23px 21px rgb(151 154 159), 1px 22px rgb(87 90 96), 2px 22px rgb(83 41 1), 3px 22px rgb(114 55 0), 4px 22px rgb(54 56 58), 7px 22px rgb(133 131 130), 8px 22px rgb(14 19 21), 9px 22px rgb(55 67 70), 10px 22px rgb(139 136 137), 11px 22px rgb(149 147 145), 12px 22px rgb(66 75 79), 13px 22px rgb(18 32 40), 14px 22px rgb(31 45 51), 15px 22px rgb(27 40 48), 16px 22px rgb(19 18 33), 17px 22px rgb(182 203 1), 18px 22px rgb(225 198 9), 19px 22px rgb(176 95 39), 20px 22px rgb(183 110 33), 21px 22px rgb(185 110 34), 22px 22px rgb(126 79 31), 23px 22px rgb(123 106 92), 2px 23px rgb(93 64 33), 3px 23px rgb(99 63 21), 7px 23px rgb(103 107 110), 8px 23px rgb(37 45 51), 9px 23px rgb(43 48 54), 10px 23px rgb(33 41 47), 11px 23px rgb(30 41 45), 12px 23px rgb(41 49 52), 13px 23px rgb(44 51 56), 14px 23px rgb(43 50 54), 15px 23px rgb(43 50 54), 16px 23px rgb(43 51 56), 17px 23px rgb(141 155 16), 18px 23px rgb(194 181 8), 19px 23px rgb(193 135 26), 20px 23px rgb(184 111 34), 21px 23px rgb(182 109 35), 22px 23px rgb(199 118 38), 23px 23px rgb(91 53 14), 24px 23px rgb(96 101 105), 6px 24px rgb(85 83 82), 7px 24px rgb(41 54 64), 8px 24px rgb(67 93 109), 9px 24px rgb(62 87 105), 10px 24px rgb(64 91 106), 11px 24px rgb(64 91 106), 12px 24px rgb(64 88 105), 13px 24px rgb(62 87 105), 14px 24px rgb(62 87 105), 15px 24px rgb(62 87 105), 16px 24px rgb(64 91 104), 17px 24px rgb(32 36 56), 18px 24px rgb(134 148 7), 19px 24px rgb(228 223 2), 20px 24px rgb(182 107 35), 21px 24px rgb(182 109 35), 22px 24px rgb(191 114 36), 23px 24px rgb(93 56 22), 24px 24px rgb(104 108 114), 6px 25px rgb(85 85 84), 7px 25px rgb(25 27 28), 8px 25px rgb(41 43 44), 9px 25px rgb(37 41 42), 10px 25px rgb(37 40 42), 11px 25px rgb(36 41 42), 14px 25px rgb(36 41 42), 15px 25px rgb(37 40 42), 16px 25px rgb(40 43 42), 17px 25px rgb(23 21 37), 18px 25px rgb(138 150 6), 19px 25px rgb(231 225 2), 20px 25px rgb(181 105 36), 21px 25px rgb(183 110 34), 22px 25px rgb(193 116 36), 23px 25px rgb(90 54 21), 24px 25px rgb(105 109 113), 6px 26px rgb(89 87 85), 7px 26px rgb(18 30 36), 8px 26px rgb(30 53 62), 9px 26px rgb(28 48 61), 10px 26px rgb(30 50 61), 15px 26px rgb(33 50 61), 16px 26px rgb(28 51 61), 17px 26px rgb(26 51 63), 18px 26px rgb(55 69 42), 19px 26px rgb(138 141 8), 20px 26px rgb(220 206 6), 21px 26px rgb(185 112 34), 22px 26px rgb(182 104 37), 23px 26px rgb(162 98 32), 24px 26px rgb(114 83 53), 25px 26px rgb(121 124 128), 6px 27px rgb(59 68 76), 7px 27px rgb(44 62 70), 8px 27px rgb(65 81 88), 9px 27px rgb(56 76 85), 10px 27px rgb(35 64 78), 15px 27px rgb(36 66 82), 16px 27px rgb(57 77 84), 17px 27px rgb(66 80 87), 18px 27px rgb(36 53 74), 19px 27px rgb(57 72 43), 20px 27px rgb(154 165 8), 21px 27px rgb(213 187 10), 22px 27px rgb(198 132 30), 23px 27px rgb(200 116 36), 24px 27px rgb(167 98 26), 25px 27px rgb(110 79 49), 26px 27px rgb(150 148 146);
}

.flip-card .character--althaea {
  box-shadow: 5px 0px rgb(115 115 116), 6px 0px rgb(39 39 42), 12px 0px rgb(51 51 51), 13px 0px rgb(56 57 57), 14px 0px rgb(54 55 57), 15px 0px rgb(54 56 57), 16px 0px rgb(55 55 54), 17px 0px rgb(57 57 59), 5px 1px rgb(108 97 36), 6px 1px rgb(53 42 1), 11px 1px rgb(95 91 87), 12px 1px rgb(36 25 10), 13px 1px rgb(39 24 13), 14px 1px rgb(39 25 11), 15px 1px rgb(37 25 12), 16px 1px rgb(39 25 11), 17px 1px rgb(63 38 10), 4px 2px rgb(68 60 18), 5px 2px rgb(92 76 1), 6px 2px rgb(108 98 52), 11px 2px rgb(18 12 6), 12px 2px rgb(53 31 4), 13px 2px rgb(51 26 2), 14px 2px rgb(50 27 3), 15px 2px rgb(55 31 2), 16px 2px rgb(71 36 3), 17px 2px rgb(92 49 3), 18px 2px rgb(61 35 8), 19px 2px rgb(34 21 5), 20px 2px rgb(70 61 49), 3px 3px rgb(35 31 12), 4px 3px rgb(139 114 1), 5px 3px rgb(48 40 6), 11px 3px rgb(32 24 16), 12px 3px rgb(49 30 11), 13px 3px rgb(46 28 9), 14px 3px rgb(45 27 8), 15px 3px rgb(60 34 6), 16px 3px rgb(85 48 7), 17px 3px rgb(90 49 2), 18px 3px rgb(92 50 2), 19px 3px rgb(99 52 3), 20px 3px rgb(78 44 4), 21px 3px rgb(30 24 18), 3px 4px rgb(44 40 24), 4px 4px rgb(132 111 1), 5px 4px rgb(50 43 5), 10px 4px rgb(42 31 16), 11px 4px rgb(47 30 14), 12px 4px rgb(33 32 30), 13px 4px rgb(32 31 30), 14px 4px rgb(32 31 30), 15px 4px rgb(33 32 30), 16px 4px rgb(42 34 27), 17px 4px rgb(89 48 5), 18px 4px rgb(90 49 2), 19px 4px rgb(92 49 3), 20px 4px rgb(83 44 4), 21px 4px rgb(52 33 11), 22px 4px rgb(44 43 39), 2px 5px rgb(91 82 46), 3px 5px rgb(106 90 2), 4px 5px rgb(64 59 24), 10px 5px rgb(103 102 103), 11px 5px rgb(52 32 10), 12px 5px rgb(152 97 39), 13px 5px rgb(148 93 34), 14px 5px rgb(147 91 35), 15px 5px rgb(148 92 34), 16px 5px rgb(135 85 32), 17px 5px rgb(48 37 24), 18px 5px rgb(79 44 6), 19px 5px rgb(78 40 3), 20px 5px rgb(51 27 5), 21px 5px rgb(51 28 6), 22px 5px rgb(25 20 17), 2px 6px rgb(61 49 0), 3px 6px rgb(131 108 1), 4px 6px rgb(38 39 37), 10px 6px rgb(152 157 160), 11px 6px rgb(166 145 122), 12px 6px rgb(189 107 23), 13px 6px rgb(190 114 34), 14px 6px rgb(195 117 34), 15px 6px rgb(198 117 34), 16px 6px rgb(183 109 35), 17px 6px rgb(115 75 34), 18px 6px rgb(70 48 20), 19px 6px rgb(86 53 19), 20px 6px rgb(105 63 17), 21px 6px rgb(53 30 6), 22px 6px rgb(32 30 27), 1px 7px rgb(111 112 121), 2px 7px rgb(65 55 5), 3px 7px rgb(129 105 0), 4px 7px rgb(40 36 31), 10px 7px rgb(116 121 124), 11px 7px rgb(217 203 191), 12px 7px rgb(196 141 85), 13px 7px rgb(187 115 41), 14px 7px rgb(159 95 30), 15px 7px rgb(158 97 34), 16px 7px rgb(184 111 34), 17px 7px rgb(191 112 34), 18px 7px rgb(66 51 32), 19px 7px rgb(102 69 34), 20px 7px rgb(173 100 28), 21px 7px rgb(51 26 7), 22px 7px rgb(39 31 24), 23px 7px rgb(22 18 13), 24px 7px rgb(74 70 66), 1px 8px rgb(108 108 106), 2px 8px rgb(67 54 2), 3px 8px rgb(122 100 2), 10px 8px rgb(24 17 11), 11px 8px rgb(102 99 94), 12px 8px rgb(246 237 227), 13px 8px rgb(206 145 83), 14px 8px rgb(83 58 35), 15px 8px rgb(83 58 35), 16px 8px rgb(188 113 34), 17px 8px rgb(183 108 34), 18px 8px rgb(78 56 32), 19px 8px rgb(102 68 35), 20px 8px rgb(156 96 27), 21px 8px rgb(67 49 4), 22px 8px rgb(50 31 5), 23px 8px rgb(51 28 5), 24px 8px rgb(41 27 8), 25px 8px rgb(55 55 55), 0px 9px rgb(92 93 98), 1px 9px rgb(103 89 19), 2px 9px rgb(95 78 0), 3px 9px rgb(71 67 53), 9px 9px rgb(149 95 40), 10px 9px rgb(171 101 32), 11px 9px rgb(172 107 43), 12px 9px rgb(198 143 86), 13px 9px rgb(249 233 214), 14px 9px rgb(101 103 102), 15px 9px rgb(71 41 12), 16px 9px rgb(186 114 38), 17px 9px rgb(183 109 35), 18px 9px rgb(175 105 35), 19px 9px rgb(109 67 34), 20px 9px rgb(90 84 25), 21px 9px rgb(207 218 1), 22px 9px rgb(83 69 3), 23px 9px rgb(44 20 7), 24px 9px rgb(41 24 7), 25px 9px rgb(45 46 46), 0px 10px rgb(50 53 60), 1px 10px rgb(101 84 1), 2px 10px rgb(101 83 1), 3px 10px rgb(61 61 66), 8px 10px rgb(31 35 36), 9px 10px rgb(80 54 30), 10px 10px rgb(90 65 37), 11px 10px rgb(114 77 31), 12px 10px rgb(189 117 39), 13px 10px rgb(210 157 106), 14px 10px rgb(191 180 174), 15px 10px rgb(195 164 135), 16px 10px rgb(222 128 30), 17px 10px rgb(185 110 37), 18px 10px rgb(205 120 35), 19px 10px rgb(119 74 35), 20px 10px rgb(31 43 28), 21px 10px rgb(105 116 16), 22px 10px rgb(65 48 7), 23px 10px rgb(27 10 1), 24px 10px rgb(65 61 54), 0px 11px rgb(58 61 67), 1px 11px rgb(100 85 2), 2px 11px rgb(98 82 2), 3px 11px rgb(42 47 51), 8px 11px rgb(103 72 42), 9px 11px rgb(32 33 33), 10px 11px rgb(39 20 31), 11px 11px rgb(100 38 30), 12px 11px rgb(170 80 32), 13px 11px rgb(174 90 12), 14px 11px rgb(216 173 128), 15px 11px rgb(251 215 181), 16px 11px rgb(248 187 125), 17px 11px rgb(187 110 34), 18px 11px rgb(140 84 31), 19px 11px rgb(109 71 35), 20px 11px rgb(91 60 34), 21px 11px rgb(80 49 35), 22px 11px rgb(43 27 17), 23px 11px rgb(77 72 69), 0px 12px rgb(57 59 64), 1px 12px rgb(98 82 0), 2px 12px rgb(115 92 5), 3px 12px rgb(53 41 32), 4px 12px rgb(53 41 28), 7px 12px rgb(69 43 16), 8px 12px rgb(161 98 37), 9px 12px rgb(79 57 33), 10px 12px rgb(94 33 30), 11px 12px rgb(139 28 27), 12px 12px rgb(153 44 27), 13px 12px rgb(183 103 38), 14px 12px rgb(180 102 20), 15px 12px rgb(206 156 108), 16px 12px rgb(241 227 212), 17px 12px rgb(198 137 80), 18px 12px rgb(86 64 43), 19px 12px rgb(108 71 33), 20px 12px rgb(199 118 37), 21px 12px rgb(196 121 39), 22px 12px rgb(88 60 31), 0px 13px rgb(59 60 64), 1px 13px rgb(95 81 1), 2px 13px rgb(157 115 5), 3px 13px rgb(177 104 37), 4px 13px rgb(176 106 35), 5px 13px rgb(76 60 43), 6px 13px rgb(107 75 40), 7px 13px rgb(154 95 35), 8px 13px rgb(46 41 32), 9px 13px rgb(155 95 35), 10px 13px rgb(102 64 33), 11px 13px rgb(74 50 32), 12px 13px rgb(185 106 35), 13px 13px rgb(182 109 34), 14px 13px rgb(182 111 36), 15px 13px rgb(182 106 32), 16px 13px rgb(194 132 71), 17px 13px rgb(246 239 227), 18px 13px rgb(201 153 100), 19px 13px rgb(175 100 25), 20px 13px rgb(199 120 41), 21px 13px rgb(243 146 50), 22px 13px rgb(247 153 55), 23px 13px rgb(131 82 36), 0px 14px rgb(59 60 64), 1px 14px rgb(92 81 1), 2px 14px rgb(165 118 4), 3px 14px rgb(194 114 36), 4px 14px rgb(193 114 34), 5px 14px rgb(131 86 20), 6px 14px rgb(81 62 24), 7px 14px rgb(56 49 35), 8px 14px rgb(33 32 33), 9px 14px rgb(54 48 35), 10px 14px rgb(116 81 34), 11px 14px rgb(129 84 35), 12px 14px rgb(62 47 32), 13px 14px rgb(61 41 34), 14px 14px rgb(64 44 35), 15px 14px rgb(61 42 33), 16px 14px rgb(86 75 34), 17px 14px rgb(228 241 47), 18px 14px rgb(202 152 40), 19px 14px rgb(178 97 34), 20px 14px rgb(200 120 38), 21px 14px rgb(247 151 53), 22px 14px rgb(254 157 54), 23px 14px rgb(198 120 38), 24px 14px rgb(125 82 43), 0px 15px rgb(58 61 67), 1px 15px rgb(97 80 3), 2px 15px rgb(132 102 5), 3px 15px rgb(107 68 34), 4px 15px rgb(108 70 33), 5px 15px rgb(129 94 20), 6px 15px rgb(131 64 21), 7px 15px rgb(97 20 29), 8px 15px rgb(40 35 32), 9px 15px rgb(97 22 26), 10px 15px rgb(162 46 24), 11px 15px rgb(171 69 31), 12px 15px rgb(106 81 33), 13px 15px rgb(139 146 11), 14px 15px rgb(123 109 26), 15px 15px rgb(101 61 28), 16px 15px rgb(122 91 37), 17px 15px rgb(237 250 123), 18px 15px rgb(225 211 48), 19px 15px rgb(193 145 16), 20px 15px rgb(199 116 40), 21px 15px rgb(251 152 53), 22px 15px rgb(252 153 53), 23px 15px rgb(226 136 45), 24px 15px rgb(143 85 26), 25px 15px rgb(42 44 47), 0px 16px rgb(54 54 62), 1px 16px rgb(100 82 0), 2px 16px rgb(102 86 4), 3px 16px rgb(19 25 34), 4px 16px rgb(24 27 33), 5px 16px rgb(70 63 23), 6px 16px rgb(130 48 16), 7px 16px rgb(128 18 20), 8px 16px rgb(37 30 29), 9px 16px rgb(130 25 24), 10px 16px rgb(176 13 19), 11px 16px rgb(188 30 22), 12px 16px rgb(195 103 26), 13px 16px rgb(192 197 4), 14px 16px rgb(193 131 12), 15px 16px rgb(200 105 55), 16px 16px rgb(219 164 119), 17px 16px rgb(237 187 201), 18px 16px rgb(243 248 55), 19px 16px rgb(212 196 1), 20px 16px rgb(191 104 43), 21px 16px rgb(230 141 47), 22px 16px rgb(250 153 53), 23px 16px rgb(225 134 44), 24px 16px rgb(139 84 30), 25px 16px rgb(53 55 57), 0px 17px rgb(72 75 80), 1px 17px rgb(101 85 7), 2px 17px rgb(103 87 5), 3px 17px rgb(38 36 30), 4px 17px rgb(35 35 32), 5px 17px rgb(46 44 45), 6px 17px rgb(50 51 50), 7px 17px rgb(50 49 49), 8px 17px rgb(50 49 49), 9px 17px rgb(31 34 37), 10px 17px rgb(115 27 24), 11px 17px rgb(191 23 19), 12px 17px rgb(167 25 20), 13px 17px rgb(50 34 33), 14px 17px rgb(129 25 25), 15px 17px rgb(220 122 120), 16px 17px rgb(235 217 215), 17px 17px rgb(187 41 33), 18px 17px rgb(210 183 1), 19px 17px rgb(208 194 11), 20px 17px rgb(184 108 34), 21px 17px rgb(186 113 34), 22px 17px rgb(237 143 49), 23px 17px rgb(225 134 44), 24px 17px rgb(139 85 29), 25px 17px rgb(50 53 55), 1px 18px rgb(109 107 100), 2px 18px rgb(69 56 2), 3px 18px rgb(117 97 3), 4px 18px rgb(40 41 33), 9px 18px rgb(66 68 68), 10px 18px rgb(81 41 17), 11px 18px rgb(139 62 18), 12px 18px rgb(124 61 22), 13px 18px rgb(30 19 12), 14px 18px rgb(177 162 167), 15px 18px rgb(222 190 176), 16px 18px rgb(134 82 41), 17px 18px rgb(133 62 19), 18px 18px rgb(73 48 27), 19px 18px rgb(137 146 13), 20px 18px rgb(227 217 3), 21px 18px rgb(184 116 32), 22px 18px rgb(191 112 37), 23px 18px rgb(199 119 37), 24px 18px rgb(141 85 30), 25px 18px rgb(49 50 55), 1px 19px rgb(110 112 120), 2px 19px rgb(64 53 4), 3px 19px rgb(129 106 0), 4px 19px rgb(43 40 32), 9px 19px rgb(70 78 78), 10px 19px rgb(32 34 24), 11px 19px rgb(52 43 25), 12px 19px rgb(61 46 30), 13px 19px rgb(164 171 169), 14px 19px rgb(141 154 155), 15px 19px rgb(81 87 81), 16px 19px rgb(51 39 20), 17px 19px rgb(55 50 27), 18px 19px rgb(11 12 37), 19px 19px rgb(124 144 11), 20px 19px rgb(244 247 0), 21px 19px rgb(183 108 35), 22px 19px rgb(181 104 34), 23px 19px rgb(187 110 34), 24px 19px rgb(170 103 33), 25px 19px rgb(130 86 43), 26px 19px rgb(108 100 92), 2px 20px rgb(60 51 1), 3px 20px rgb(131 107 0), 4px 20px rgb(39 36 35), 9px 20px rgb(113 54 54), 10px 20px rgb(91 10 11), 11px 20px rgb(97 49 51), 12px 20px rgb(138 134 136), 13px 20px rgb(233 174 176), 14px 20px rgb(149 77 77), 15px 20px rgb(83 8 11), 16px 20px rgb(98 28 30), 17px 20px rgb(99 26 27), 18px 20px rgb(96 16 27), 19px 20px rgb(127 95 16), 20px 20px rgb(170 179 7), 21px 20px rgb(200 164 17), 22px 20px rgb(189 122 32), 23px 20px rgb(183 107 35), 24px 20px rgb(188 113 34), 25px 20px rgb(178 107 36), 26px 20px rgb(39 24 13), 2px 21px rgb(83 75 35), 3px 21px rgb(113 94 3), 4px 21px rgb(61 54 27), 8px 21px rgb(36 35 35), 9px 21px rgb(137 18 19), 10px 21px rgb(193 36 37), 11px 21px rgb(215 119 117), 12px 21px rgb(219 208 208), 13px 21px rgb(164 42 42), 14px 21px rgb(160 11 10), 15px 21px rgb(169 25 25), 16px 21px rgb(167 20 21), 17px 21px rgb(165 21 20), 18px 21px rgb(176 23 19), 19px 21px rgb(96 11 28), 20px 21px rgb(64 79 24), 21px 21px rgb(229 249 0), 22px 21px rgb(196 141 24), 23px 21px rgb(181 103 37), 24px 21px rgb(186 112 34), 25px 21px rgb(173 105 36), 26px 21px rgb(48 35 23), 3px 22px rgb(51 44 23), 4px 22px rgb(127 105 2), 5px 22px rgb(60 53 17), 8px 22px rgb(47 47 46), 9px 22px rgb(31 22 22), 10px 22px rgb(168 158 157), 11px 22px rgb(202 195 194), 12px 22px rgb(41 40 39), 13px 22px rgb(44 37 36), 14px 22px rgb(45 35 35), 15px 22px rgb(44 34 34), 16px 22px rgb(43 32 33), 17px 22px rgb(43 33 32), 18px 22px rgb(46 34 33), 19px 22px rgb(33 26 33), 20px 22px rgb(80 86 22), 21px 22px rgb(223 238 0), 22px 22px rgb(195 140 25), 23px 22px rgb(181 105 37), 24px 22px rgb(188 114 34), 25px 22px rgb(172 104 37), 26px 22px rgb(49 35 21), 3px 23px rgb(34 31 14), 4px 23px rgb(139 116 1), 5px 23px rgb(45 36 2), 8px 23px rgb(32 33 33), 9px 23px rgb(173 176 181), 10px 23px rgb(188 178 152), 11px 23px rgb(139 110 53), 12px 23px rgb(97 71 20), 13px 23px rgb(35 30 23), 16px 23px rgb(37 34 28), 17px 23px rgb(101 74 21), 18px 23px rgb(102 76 20), 19px 23px rgb(104 77 18), 20px 23px rgb(98 77 20), 21px 23px rgb(79 82 22), 22px 23px rgb(203 207 3), 23px 23px rgb(210 169 19), 24px 23px rgb(178 96 39), 25px 23px rgb(181 108 35), 26px 23px rgb(161 97 32), 27px 23px rgb(94 76 56), 4px 24px rgb(79 66 12), 5px 24px rgb(84 70 0), 6px 24px rgb(114 106 69), 7px 24px rgb(144 144 148), 8px 24px rgb(165 163 160), 9px 24px rgb(214 192 152), 10px 24px rgb(183 144 72), 11px 24px rgb(143 96 4), 12px 24px rgb(128 92 22), 13px 24px rgb(26 18 6), 16px 24px rgb(30 24 13), 17px 24px rgb(131 93 16), 18px 24px rgb(152 106 18), 19px 24px rgb(161 115 20), 20px 24px rgb(140 98 23), 21px 24px rgb(84 60 25), 22px 24px rgb(118 126 14), 23px 24px rgb(184 183 6), 24px 24px rgb(216 179 16), 25px 24px rgb(190 111 36), 26px 24px rgb(203 121 37), 27px 24px rgb(145 85 22), 5px 25px rgb(109 95 24), 6px 25px rgb(64 52 1), 7px 25px rgb(57 59 64), 8px 25px rgb(191 189 186), 9px 25px rgb(135 107 50), 10px 25px rgb(120 84 12), 11px 25px rgb(121 89 25), 12px 25px rgb(99 75 27), 17px 25px rgb(98 73 23), 18px 25px rgb(116 85 20), 19px 25px rgb(126 93 25), 20px 25px rgb(121 86 23), 21px 25px rgb(104 77 17), 22px 25px rgb(31 21 30), 23px 25px rgb(107 121 11), 24px 25px rgb(173 174 4), 25px 25px rgb(136 80 32), 26px 25px rgb(137 84 30), 27px 25px rgb(151 93 34), 5px 26px rgb(110 111 113), 6px 26px rgb(42 43 44), 7px 26px rgb(54 54 55), 8px 26px rgb(48 48 48), 9px 26px rgb(50 52 52), 10px 26px rgb(52 52 54), 11px 26px rgb(47 49 49), 12px 26px rgb(71 71 73), 17px 26px rgb(65 64 64), 18px 26px rgb(47 48 51), 19px 26px rgb(50 52 52), 20px 26px rgb(50 51 53), 21px 26px rgb(50 50 52), 22px 26px rgb(55 55 52), 23px 26px rgb(52 50 52), 24px 26px rgb(50 49 53), 25px 26px rgb(51 53 53), 26px 26px rgb(51 53 53), 27px 26px rgb(50 50 52);
}

.flip-card .character--thorin {
  box-shadow: 13px 0px #000000, 14px 0px #000000, 15px 0px #000000, 16px 0px #000000, 17px 0px #000000, 12px 1px #000000, 13px 1px rgb(80 61 16), 14px 1px rgb(76 56 19), 15px 1px rgb(71 53 22), 16px 1px rgb(89 68 5), 17px 1px rgb(118 107 55), 18px 1px #000000, 19px 1px #000000, 11px 2px #000000, 12px 2px rgb(90 81 62), 13px 2px rgb(111 81 20), 14px 2px rgb(135 94 17), 15px 2px rgb(146 108 10), 16px 2px rgb(184 146 1), 17px 2px rgb(158 131 1), 18px 2px rgb(69 57 7), 19px 2px rgb(74 62 11), 20px 2px #000000, 12px 3px #000000, 13px 3px rgb(39 34 29), 14px 3px rgb(109 81 21), 15px 3px rgb(152 125 3), 16px 3px rgb(163 134 1), 17px 3px rgb(170 141 1), 18px 3px rgb(191 157 1), 19px 3px rgb(189 155 0), 20px 3px rgb(80 66 7), 21px 3px #000000, 4px 4px #000000, 5px 4px #000000, 6px 4px #000000, 11px 4px #000000, 12px 4px rgb(35 35 35), 13px 4px rgb(39 36 35), 14px 4px rgb(42 36 31), 15px 4px rgb(48 43 29), 16px 4px rgb(43 38 31), 17px 4px rgb(96 82 17), 18px 4px rgb(184 151 1), 19px 4px rgb(183 148 1), 20px 4px rgb(182 149 0), 21px 4px rgb(103 86 15), 22px 4px #000000, 3px 5px #000000, 4px 5px rgb(192 167 134), 5px 5px rgb(59 52 45), 6px 5px #000000, 8px 5px #000000, 9px 5px #000000, 10px 5px #000000, 11px 5px rgb(33 44 48), 12px 5px rgb(85 4 6), 13px 5px rgb(207 0 0), 14px 5px rgb(204 2 2), 15px 5px rgb(202 3 2), 16px 5px rgb(209 0 1), 17px 5px rgb(155 7 2), 18px 5px rgb(78 69 15), 19px 5px rgb(180 144 0), 20px 5px rgb(191 155 1), 21px 5px rgb(169 139 1), 22px 5px rgb(122 104 18), 23px 5px #000000, 2px 6px #000000, 3px 6px rgb(174 135 107), 4px 6px rgb(250 99 78), 5px 6px rgb(76 39 34), 6px 6px #000000, 8px 6px #000000, 9px 6px rgb(28 31 33), 10px 6px rgb(133 107 84), 11px 6px rgb(168 147 118), 12px 6px rgb(210 142 115), 13px 6px rgb(255 105 80), 14px 6px rgb(254 0 1), 15px 6px rgb(254 0 1), 16px 6px rgb(255 54 40), 17px 6px rgb(228 128 104), 18px 6px rgb(145 122 96), 19px 6px rgb(97 92 23), 20px 6px rgb(165 139 0), 21px 6px rgb(204 167 0), 22px 6px rgb(130 106 1), 23px 6px #000000, 1px 7px #000000, 2px 7px rgb(111 64 51), 3px 7px rgb(254 122 96), 4px 7px rgb(243 0 0), 5px 7px rgb(69 10 11), 6px 7px #000000, 8px 7px #000000, 9px 7px rgb(131 111 94), 10px 7px rgb(174 146 120), 11px 7px rgb(187 158 129), 12px 7px rgb(178 159 129), 13px 7px rgb(186 146 121), 14px 7px rgb(255 84 66), 15px 7px rgb(255 77 58), 16px 7px rgb(254 157 125), 17px 7px rgb(254 234 184), 18px 7px rgb(244 195 157), 19px 7px rgb(123 31 33), 20px 7px rgb(121 80 6), 21px 7px rgb(167 139 0), 22px 7px rgb(155 127 1), 23px 7px rgb(100 89 41), 24px 7px #000000, 1px 8px #000000, 2px 8px rgb(113 0 3), 3px 8px rgb(253 1 0), 4px 8px rgb(245 1 1), 5px 8px rgb(69 13 12), 6px 8px #000000, 8px 8px #000000, 9px 8px rgb(206 173 139), 10px 8px rgb(82 66 52), 11px 8px rgb(33 24 19), 12px 8px rgb(35 26 21), 13px 8px rgb(69 54 43), 14px 8px rgb(206 177 141), 15px 8px rgb(216 186 149), 16px 8px rgb(239 198 159), 17px 8px rgb(255 201 161), 18px 8px rgb(254 147 117), 19px 8px rgb(255 6 2), 20px 8px rgb(83 11 21), 21px 8px rgb(104 97 12), 22px 8px rgb(200 163 0), 23px 8px rgb(168 136 1), 24px 8px #000000, 1px 9px #000000, 2px 9px rgb(111 3 3), 3px 9px rgb(255 1 0), 4px 9px rgb(244 0 1), 5px 9px rgb(68 12 12), 6px 9px #000000, 8px 9px #000000, 9px 9px rgb(52 46 41), 10px 9px rgb(104 65 26), 11px 9px rgb(121 70 21), 12px 9px rgb(118 71 20), 13px 9px rgb(108 66 24), 14px 9px rgb(57 48 41), 15px 9px rgb(41 35 32), 16px 9px rgb(162 144 117), 17px 9px rgb(253 149 119), 18px 9px rgb(252 3 3), 19px 9px rgb(250 0 1), 20px 9px rgb(85 19 24), 21px 9px rgb(105 97 12), 22px 9px rgb(194 157 1), 23px 9px rgb(162 134 0), 24px 9px #000000, 1px 10px #000000, 2px 10px rgb(111 3 3), 3px 10px rgb(254 0 1), 4px 10px rgb(244 0 1), 5px 10px rgb(69 13 12), 6px 10px #000000, 8px 10px #000000, 9px 10px rgb(154 95 32), 10px 10px rgb(172 103 33), 11px 10px rgb(174 102 33), 12px 10px rgb(177 105 32), 13px 10px rgb(166 98 31), 14px 10px rgb(105 62 19), 15px 10px rgb(100 57 17), 16px 10px rgb(78 66 45), 17px 10px rgb(138 40 37), 18px 10px rgb(255 1 0), 19px 10px rgb(248 0 0), 20px 10px rgb(93 25 25), 21px 10px rgb(30 38 31), 22px 10px rgb(106 88 8), 23px 10px rgb(171 141 1), 24px 10px #000000, 1px 11px #000000, 2px 11px rgb(111 3 3), 3px 11px rgb(254 0 1), 4px 11px rgb(244 0 1), 5px 11px rgb(68 12 12), 6px 11px #000000, 8px 11px #000000, 9px 11px rgb(92 62 34), 10px 11px rgb(166 100 34), 11px 11px rgb(195 114 35), 12px 11px rgb(152 94 35), 13px 11px rgb(107 68 33), 14px 11px rgb(157 94 30), 15px 11px rgb(179 103 29), 16px 11px rgb(73 64 32), 17px 11px rgb(86 10 16), 18px 11px rgb(254 0 1), 19px 11px rgb(254 0 1), 20px 11px rgb(77 2 3), 21px 11px #000000, 22px 11px #000000, 23px 11px rgb(86 75 16), 24px 11px #000000, 1px 12px #000000, 2px 12px rgb(111 3 3), 3px 12px rgb(254 0 1), 4px 12px rgb(245 0 1), 5px 12px rgb(75 19 17), 6px 12px #000000, 7px 12px #000000, 8px 12px #000000, 9px 12px rgb(99 66 35), 10px 12px rgb(162 98 34), 11px 12px rgb(197 116 34), 12px 12px rgb(123 76 34), 13px 12px rgb(43 36 33), 14px 12px rgb(180 107 34), 15px 12px rgb(148 92 34), 16px 12px rgb(123 45 25), 17px 12px rgb(180 3 5), 18px 12px rgb(251 1 0), 19px 12px rgb(177 9 9), 20px 12px #000000, 23px 12px #000000, 1px 13px #000000, 2px 13px rgb(111 3 3), 3px 13px rgb(255 1 0), 4px 13px rgb(243 0 0), 5px 13px rgb(81 24 24), 6px 13px rgb(11 23 27), 7px 13px rgb(77 50 25), 8px 13px rgb(163 99 34), 9px 13px rgb(159 97 34), 10px 13px rgb(179 107 34), 11px 13px rgb(190 114 34), 12px 13px rgb(142 87 34), 13px 13px rgb(82 57 33), 14px 13px rgb(144 91 35), 15px 13px rgb(44 47 34), 16px 13px rgb(127 9 12), 17px 13px rgb(225 1 0), 18px 13px rgb(178 4 5), 19px 13px rgb(37 34 34), 20px 13px #000000, 1px 14px #000000, 2px 14px rgb(111 3 3), 3px 14px rgb(255 1 0), 4px 14px rgb(243 0 0), 5px 14px rgb(79 24 24), 6px 14px rgb(30 39 36), 7px 14px rgb(43 39 35), 8px 14px rgb(36 34 32), 9px 14px rgb(51 40 32), 10px 14px rgb(156 95 34), 11px 14px rgb(188 113 34), 12px 14px rgb(183 109 35), 13px 14px rgb(155 93 35), 14px 14px rgb(58 38 30), 15px 14px rgb(45 31 30), 16px 14px rgb(48 30 30), 17px 14px rgb(55 29 28), 18px 14px rgb(53 28 28), 19px 14px rgb(48 30 30), 20px 14px #000000, 21px 14px #000000, 22px 14px #000000, 23px 14px #000000, 24px 14px #000000, 25px 14px #000000, 26px 14px #000000, 1px 15px #000000, 2px 15px rgb(108 3 2), 3px 15px rgb(254 0 1), 4px 15px rgb(245 0 1), 5px 15px rgb(71 19 23), 6px 15px rgb(92 96 51), 7px 15px rgb(99 94 50), 8px 15px rgb(48 37 31), 9px 15px rgb(158 98 34), 10px 15px rgb(178 107 34), 11px 15px rgb(191 110 34), 12px 15px rgb(135 86 35), 13px 15px rgb(81 36 27), 14px 15px rgb(212 0 1), 15px 15px rgb(227 1 1), 16px 15px rgb(225 1 0), 17px 15px rgb(225 1 0), 18px 15px rgb(225 0 1), 19px 15px rgb(227 0 1), 20px 15px rgb(224 140 113), 21px 15px rgb(224 190 152), 22px 15px rgb(224 182 147), 23px 15px rgb(225 184 146), 24px 15px rgb(222 184 147), 25px 15px rgb(226 190 153), 26px 15px rgb(136 119 99), 27px 15px #000000, 0px 16px #000000, 1px 16px rgb(120 50 50), 2px 16px rgb(174 11 13), 3px 16px rgb(213 4 6), 4px 16px rgb(206 4 9), 5px 16px rgb(160 18 19), 6px 16px rgb(100 52 34), 7px 16px rgb(90 92 50), 8px 16px rgb(112 102 50), 9px 16px rgb(90 61 32), 10px 16px rgb(168 100 34), 11px 16px rgb(209 122 34), 12px 16px rgb(131 86 35), 13px 16px rgb(63 21 26), 14px 16px rgb(247 1 0), 15px 16px rgb(231 2 2), 16px 16px rgb(212 8 8), 17px 16px rgb(212 9 8), 18px 16px rgb(212 8 8), 19px 16px rgb(213 11 11), 20px 16px rgb(213 77 63), 21px 16px rgb(212 98 80), 22px 16px rgb(213 97 78), 23px 16px rgb(212 97 78), 24px 16px rgb(214 94 76), 25px 16px rgb(255 193 154), 26px 16px rgb(139 118 94), 27px 16px #000000, 0px 17px #000000, 1px 17px rgb(120 60 62), 2px 17px rgb(148 35 19), 3px 17px rgb(182 65 29), 4px 17px rgb(178 61 26), 5px 17px rgb(141 31 20), 6px 17px rgb(62 19 25), 7px 17px rgb(50 55 37), 8px 17px rgb(101 94 47), 9px 17px rgb(82 80 42), 10px 17px rgb(107 73 34), 11px 17px rgb(119 68 34), 12px 17px rgb(76 54 36), 13px 17px rgb(69 26 27), 14px 17px rgb(238 0 0), 15px 17px rgb(200 13 13), 16px 17px rgb(195 15 15), 17px 17px rgb(214 6 7), 18px 17px rgb(214 6 7), 19px 17px rgb(214 6 7), 20px 17px rgb(214 0 2), 21px 17px rgb(215 1 0), 22px 17px rgb(215 1 0), 23px 17px rgb(208 1 1), 24px 17px rgb(182 7 9), 25px 17px rgb(244 169 134), 26px 17px rgb(139 121 98), 27px 17px #000000, 1px 18px #000000, 2px 18px rgb(76 53 19), 3px 18px rgb(197 120 39), 4px 18px rgb(181 112 36), 5px 18px rgb(64 65 52), 6px 18px rgb(29 39 43), 7px 18px rgb(32 35 38), 8px 18px rgb(53 58 56), 9px 18px rgb(128 129 75), 10px 18px rgb(74 75 48), 11px 18px rgb(73 78 26), 12px 18px rgb(60 74 25), 13px 18px rgb(66 24 27), 14px 18px rgb(240 0 0), 15px 18px rgb(203 12 12), 16px 18px rgb(224 3 2), 17px 18px rgb(254 0 1), 18px 18px rgb(240 0 0), 19px 18px rgb(245 0 1), 20px 18px rgb(244 1 1), 21px 18px rgb(241 0 0), 22px 18px rgb(248 0 1), 23px 18px rgb(250 0 1), 24px 18px rgb(193 19 17), 25px 18px rgb(246 172 137), 26px 18px rgb(138 121 97), 27px 18px #000000, 1px 19px #000000, 2px 19px rgb(78 49 19), 3px 19px rgb(180 109 36), 4px 19px rgb(169 102 36), 5px 19px rgb(91 92 94), 6px 19px rgb(41 52 61), 7px 19px rgb(44 51 55), 8px 19px rgb(66 92 108), 9px 19px rgb(70 94 109), 10px 19px rgb(122 121 78), 11px 19px rgb(198 204 20), 12px 19px rgb(150 173 5), 13px 19px rgb(64 20 27), 14px 19px rgb(240 0 0), 15px 19px rgb(203 12 13), 16px 19px rgb(220 5 4), 17px 19px rgb(232 2 3), 18px 19px rgb(184 18 18), 19px 19px rgb(177 18 18), 20px 19px rgb(177 19 18), 21px 19px rgb(178 21 20), 22px 19px rgb(209 10 10), 23px 19px rgb(241 1 1), 24px 19px rgb(191 16 16), 25px 19px rgb(246 172 137), 26px 19px rgb(138 120 97), 27px 19px #000000, 1px 20px #000000, 2px 20px rgb(27 24 20), 3px 20px rgb(52 42 37), 4px 20px rgb(49 41 32), 5px 20px rgb(42 42 42), 6px 20px rgb(35 36 38), 7px 20px rgb(32 32 33), 8px 20px rgb(40 48 54), 9px 20px rgb(64 90 109), 10px 20px rgb(75 100 111), 11px 20px rgb(69 79 62), 12px 20px rgb(41 49 26), 13px 20px rgb(68 26 27), 14px 20px rgb(236 0 1), 15px 20px rgb(205 11 11), 16px 20px rgb(188 19 19), 17px 20px rgb(194 16 17), 18px 20px rgb(169 20 21), 19px 20px rgb(63 30 31), 20px 20px rgb(41 32 32), 21px 20px rgb(124 25 25), 22px 20px rgb(196 19 19), 23px 20px rgb(192 14 16), 24px 20px rgb(186 19 18), 25px 20px rgb(245 170 136), 26px 20px rgb(139 122 98), 27px 20px #000000, 1px 21px #000000, 2px 21px rgb(41 35 0), 3px 21px rgb(117 99 5), 4px 21px rgb(107 90 4), 5px 21px rgb(28 24 5), 6px 21px #000000, 7px 21px #000000, 8px 21px rgb(37 27 26), 9px 21px rgb(86 30 37), 10px 21px rgb(91 31 37), 11px 21px rgb(55 27 34), 12px 21px rgb(18 30 34), 13px 21px rgb(70 26 27), 14px 21px rgb(250 0 1), 15px 21px rgb(206 10 11), 16px 21px rgb(158 25 24), 17px 21px rgb(165 23 23), 18px 21px rgb(185 18 19), 19px 21px rgb(147 22 23), 20px 21px rgb(138 23 23), 21px 21px rgb(169 18 18), 22px 21px rgb(180 21 21), 23px 21px rgb(154 24 25), 24px 21px rgb(178 20 20), 25px 21px rgb(255 53 40), 26px 21px rgb(138 30 23), 27px 21px #000000, 2px 22px #000000, 3px 22px rgb(82 66 0), 4px 22px rgb(86 72 6), 5px 22px #000000, 7px 22px #000000, 8px 22px rgb(31 18 18), 9px 22px rgb(62 13 11), 10px 22px rgb(64 10 6), 11px 22px rgb(47 22 19), 12px 22px rgb(26 32 31), 13px 22px rgb(48 26 27), 14px 22px rgb(142 10 10), 15px 22px rgb(207 4 4), 16px 22px rgb(189 14 15), 17px 22px rgb(156 25 25), 18px 22px rgb(165 23 23), 19px 22px rgb(171 22 23), 20px 22px rgb(170 22 23), 21px 22px rgb(167 22 22), 22px 22px rgb(161 22 23), 23px 22px rgb(166 23 23), 24px 22px rgb(215 7 6), 25px 22px rgb(170 0 0), 26px 22px rgb(139 75 74), 27px 22px #000000, 3px 23px #000000, 4px 23px #000000, 7px 23px #000000, 8px 23px rgb(40 52 56), 9px 23px rgb(40 55 63), 10px 23px rgb(40 55 62), 11px 23px rgb(42 53 60), 12px 23px rgb(44 52 60), 13px 23px rgb(39 51 56), 14px 23px rgb(26 35 35), 15px 23px rgb(210 0 0), 16px 23px rgb(246 0 1), 17px 23px rgb(189 16 17), 18px 23px rgb(150 24 24), 19px 23px rgb(149 24 24), 20px 23px rgb(150 24 24), 21px 23px rgb(146 25 24), 22px 23px rgb(171 20 21), 23px 23px rgb(223 7 6), 24px 23px rgb(254 0 1), 25px 23px rgb(73 7 7), 26px 23px #000000, 6px 24px #000000, 7px 24px rgb(32 43 48), 8px 24px rgb(67 91 109), 9px 24px rgb(62 87 103), 10px 24px rgb(62 87 103), 11px 24px rgb(62 87 103), 12px 24px #000000, 13px 24px #000000, 14px 24px #000000, 15px 24px rgb(189 3 2), 16px 24px rgb(235 1 0), 17px 24px rgb(219 3 2), 18px 24px rgb(194 16 16), 19px 24px rgb(195 15 15), 20px 24px rgb(195 15 15), 21px 24px rgb(193 16 17), 22px 24px rgb(207 8 9), 23px 24px rgb(233 0 0), 24px 24px rgb(232 0 1), 25px 24px rgb(99 30 31), 26px 24px #000000, 6px 25px #000000, 7px 25px rgb(20 20 21), 8px 25px rgb(40 42 43), 9px 25px rgb(37 38 38), 10px 25px rgb(37 38 38), 11px 25px #000000, 12px 25px #000000, 14px 25px #000000, 15px 25px #000000, 16px 25px rgb(42 33 30), 17px 25px rgb(122 19 16), 18px 25px rgb(248 0 0), 19px 25px rgb(247 1 0), 20px 25px rgb(243 0 0), 21px 25px rgb(250 0 1), 22px 25px rgb(188 6 4), 23px 25px #000000, 24px 25px #000000, 25px 25px #000000, 6px 26px #000000, 7px 26px rgb(41 30 14), 8px 26px rgb(103 76 21), 9px 26px rgb(99 71 19), 10px 26px rgb(105 76 21), 11px 26px #000000, 15px 26px #000000, 16px 26px rgb(100 78 20), 17px 26px rgb(93 53 20), 18px 26px rgb(87 12 21), 19px 26px rgb(89 17 21), 20px 26px rgb(94 21 20), 21px 26px #000000, 22px 26px #000000, 5px 27px #000000, 6px 27px rgb(101 90 66), 7px 27px rgb(114 83 17), 8px 27px rgb(158 114 22), 9px 27px rgb(155 111 21), 10px 27px rgb(147 104 21), 11px 27px rgb(56 38 5), 15px 27px rgb(106 74 12), 16px 27px rgb(156 108 19), 17px 27px rgb(141 103 25), 18px 27px rgb(98 82 30), 19px 27px rgb(82 71 27), 20px 27px #000000;
}

.flip-card .title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover:not(:disabled) .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 3px solid black;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* ************* time-left ************ */
.time-left {
  position: absolute;
  top: 1%;
  left: 1%;
}